.clearall{ clear:both}
#wp_sidebarpost_main input[type="text"]{ background:#fff; border:none; border-radius: 4px; height:30px; padding:5px;}
.white{ background:#FFF}
#wp_sidebarpost_main input[type="submit"]{ background: #060 !important; border:none; border-radius: 4px; height:30px; padding:5px; color: #fff; margin-top: 5px; cursor: pointer}
#wp_sidebarpost_main textarea{ background:#fff !important; border:none; border-radius: 4px; padding:5px;}
#spostMessage{ display:none; background:#093; color:#FFF; padding: 5px}
.spost_box{ border-top: #060 6px solid; border-bottom:#060 3px solid; background:#DFF4E1; padding-bottom:10px; padding: 3px;}
#wp_sidebarpost_main button{ cursor: pointer; margin-bottom: 10px;}
#spostLogin{ width: 200px; height: 45px; padding: 8px 25px; border-radius:5px; border:none; font-size:24px;}
#spostRegister{ width: 200px; height: 45px; padding: 8px 25px;border-radius:5px; border:none;  font-size:24px}
.separatorHorizontal{ background:url(../images/separator-horizontal.png) no-repeat center; height: 50px; width:200px;
margin:30px auto}
 
#or{ width:50px; height:35px; border-radius:25px; margin-left:auto; margin-right:auto; text-align:center; padding-top:12px; font-size:18px}
.mustLog, .mustLogRegister{margin-left:auto; margin-right:auto; width:50%; width:200px;}

#loginRegisterHidden{ background:#003; height: 500px; width:500px; display: none; position: fixed; top:32; right:0}

.spostError{ background:#F00 !important; border: #000 2px solid !important;}
